In [31]:
import json
import numpy as np

In [3]:
file= open('coco_format_fish_data.json')
dataset= json.load(file)

In [18]:
months= {}
for i in dataset['images']:
    file_name= i['file_name'].split('_')[1]
    months[file_name]=0
print(months)
# print(dataset['images'][0])

{'07': 0, '04': 0, '05': 0, '08': 0, '06': 0, '09': 0}

In [19]:
print(dataset.keys())

dict_keys(['images', 'annotations', 'info', 'licenses', 'categories'])

In [13]:
import pandas as pd

In [35]:
def getDataframe(dic):
    return pd.DataFrame(dic).head()
print(getDataframe(dataset['images']))
getDataframe(dataset['annotations'])

   license         file_name  width  height  id
0        0  21_07_21-B16.jpg   4032    3024   0
1        0  21_04_21-B41.jpg   4032    3024   1
2        0   26_05_21-B9.jpg   4032    3024   2
3        0  20_04_21-B14.jpg   4032    3024   3
4        0   14_05_21-B6.jpg   3648    2736   4

,segmentation,iscrowd,image_id,bbox,area,id,category_id
0,"[[1832.6115, 680.2339, 1720.6115, 684.2339, 15...",0,871,"[606.0, 446.2339, 1226.6115, 2124.7661]",956750.024299,1,0
1,"[[2195.211, 988.8187, 2135.211, 900.8187, 1987...",0,871,"[1327.0, 678.8187, 868.211, 1954.0]",851168.961635,2,0
2,"[[2601.0, 2107.0, 2601.0, 2101.9861, 2570.3246...",0,871,"[1949.0, 606.8033, 652.0, 2046.1967]",853642.308700,3,0
3,"[[3153.4848, 2072.6682, 3145.9582, 1880.7396, ...",0,871,"[2437.3292, 542.9875, 716.1556, 1915.5]",769454.532116,4,0
4,"[[3707.6804, 1625.5206, 3706.0, 1623.0, 3705.0...",0,871,"[3081.0, 441.6543, 626.6804, 1871.4244]",706304.906956,5,0

In [28]:
newJson= open('fish_tray_json_labels.zip

[{'supercategory': 'specie', 'id': 0, 'name': 'Pagrus pagrus'},
 {'supercategory': 'specie', 'id': 1, 'name': 'Tray1'},
 {'supercategory': 'specie', 'id': 2, 'name': 'Spicara maena'},
 {'supercategory': 'specie', 'id': 3, 'name': 'Mullus surmulentus'},
 {'supercategory': 'specie', 'id': 4, 'name': 'Pagellus erythrinus'},
 {'supercategory': 'specie', 'id': 5, 'name': 'Sphyraena sphyraena'},
 {'supercategory': 'specie', 'id': 6, 'name': 'Diplodus sargus'},
 {'supercategory': 'specie', 'id': 7, 'name': 'Symphodus tinca H'},
 {'supercategory': 'specie', 'id': 8, 'name': 'Symphodus tinca M'},
 {'supercategory': 'specie', 'id': 9, 'name': 'Diplodus anularis'},
 {'supercategory': 'specie', 'id': 10, 'name': 'Dentex dentex'},
 {'supercategory': 'specie', 'id': 11, 'name': 'Pagellus acarne'},
 {'supercategory': 'specie', 'id': 12, 'name': 'Sarda sarda'},
 {'supercategory': 'specie', 'id': 13, 'name': 'Scorpaena porcus'},
 {'supercategory': 'specie', 'id': 14, 'name': 'Spondyliosoma cantharus'},
 {'supercategory': 'specie', 'id': 15, 'name': 'Diplodus vulgaris'},
 {'supercategory': 'specie', 'id': 16, 'name': 'Serranus scriba'},
 {'supercategory': 'specie', 'id': 17, 'name': 'Sciaena umbra'},
 {'supercategory': 'specie', 'id': 18, 'name': 'Scorpaena notata'},
 {'supercategory': 'specie', 'id': 19, 'name': 'Labrus merula'},
 {'supercategory': 'specie', 'id': 20, 'name': 'Mullus barbatus'},
 {'supercategory': 'specie', 'id': 21, 'name': 'Torpedo marmorata'},
 {'supercategory': 'specie', 'id': 22, 'name': 'Tray2'},
 {'supercategory': 'specie', 'id': 23, 'name': 'Serranus cabrilla'},
 {'supercategory': 'specie', 'id': 24, 'name': 'Lithognathus mormyrus'},
 {'supercategory': 'specie', 'id': 25, 'name': 'Sepia officinalis'},
 {'supercategory': 'specie', 'id': 26, 'name': 'Zeus faber'},
 {'supercategory': 'specie', 'id': 27, 'name': 'Dactylopterus volitans'},
 {'supercategory': 'specie', 'id': 28, 'name': 'Species 50'},
 {'supercategory': 'specie', 'id': 29, 'name': 'Merlucius merlucius'},
 {'supercategory': 'specie', 'id': 30, 'name': 'Trachurus mediterraneus'},
 {'supercategory': 'specie', 'id': 31, 'name': 'Conger conger'},
 {'supercategory': 'specie', 'id': 32, 'name': 'Sparus aurata'},
 {'supercategory': 'specie', 'id': 33, 'name': 'Sarpa salpa'},
 {'supercategory': 'specie', 'id': 34, 'name': 'Symphodus mediterraneus'},
 {'supercategory': 'specie', 'id': 35, 'name': 'Scorpaena scrofa'},
 {'supercategory': 'specie', 'id': 36, 'name': 'Uranoscopus scaber'},
 {'supercategory': 'specie', 'id': 37, 'name': 'Raja radula'},
 {'supercategory': 'specie', 'id': 38, 'name': 'Phycis phycis'},
 {'supercategory': 'specie', 'id': 39, 'name': 'Species 52'},
 {'supercategory': 'specie', 'id': 40, 'name': 'Sardinella aurita'},
 {'supercategory': 'specie', 'id': 41, 'name': 'Chelidonichthys lastoviza'},
 {'supercategory': 'specie', 'id': 42, 'name': 'Seriola dumerili√≠'},
 {'supercategory': 'specie', 'id': 43, 'name': 'Raja asterias'},
 {'supercategory': 'specie', 'id': 44, 'name': 'Lophius sp'},
 {'supercategory': 'specie', 'id': 45, 'name': 'Muraena helena'},
 {'supercategory': 'specie', 'id': 46, 'name': 'Spicara smaris'},
 {'supercategory': 'specie', 'id': 47, 'name': 'Boops boops'},
 {'supercategory': 'specie', 'id': 48, 'name': 'Mustelus mustelus'},
 {'supercategory': 'specie', 'id': 49, 'name': 'Trachinus draco'},
 {'supercategory': 'specie', 'id': 50, 'name': 'Umbrina cirrosa'},
 {'supercategory': 'specie', 'id': 51, 'name': 'Balistes capriscus'},
 {'supercategory': 'specie', 'id': 52, 'name': 'Pomatomus saltatrix'},
 {'supercategory': 'specie', 'id': 53, 'name': 'Species 51'},
 {'supercategory': 'specie', 'id': 54, 'name': 'Pomadasys incisus'},
 {'supercategory': 'specie', 'id': 55, 'name': 'Species 49'},
 {'supercategory': 'specie', 'id': 56, 'name': 'Species 68'},
 {'supercategory': 'specie', 'id': 57, 'name': 'Scomber japonicus'},
 {'supercategory': 'specie', 'id': 58, 'name': 'Microchirus ocellatus'},
 {'supercategory': 'specie', 'id': 59, 'name': 'Species 55'},
 {'supercategory': 'specie', 'id': 60, 'name': 'Mugil cephalus'},
 {'supercategory': 'specie', 'id': 61, 'name': 'Species 53'},
 {'supercategory': 'specie', 'id': 62, 'name': 'Species 54'},
 {'supercategory': 'specie', 'id': 63, 'name': 'Labrus viridis'}]